.centered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 60px);
}

.title {
  margin-bottom: 40px;
  font-size: 2rem;
  padding: 0 12px 24px;
  border-bottom: 4px solid black;
}

table, th, td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

table, th {
  border-bottom: 2px solid black;
}

th, td {
  padding: 10px 92px;
  text-align: center;
}