.app-header {
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  background-color: dimgray;

  .app-header--menu {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
      float: left;

      a {
        color: whitesmoke;
        text-decoration: none;
        padding: 20px;
        &:hover {
          color: beige;
          border-bottom: 3px solid beige;
        }
        &:active {
          color: bisque;
        }
      }
    }
  }
}

.app-body {
  position: absolute;
  top: 60px;
  overflow: auto;
}